/* 全体 */
* {
	font-family: "Sans-serif";
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	word-wrap: break-word;
}

body {
	margin: 0 auto;
	background-color: #fff3e1;
	word-break: normal;
}

.main-contents {
	width: 80%;
	margin: 0 auto;
	padding: 8px;
	background-color: #fff3e1;
	position: relative;
}

input[type=submit] {
	display: inline-block;
 	border-radius: 3px;
 	font-size: 10pt;
 	text-align: center;
 	cursor: pointer;
 	padding: 2.5px 8px;
 	background: #353535;
 	color: #fff3e1;
 	line-height: 1em;
    transition: .3s;
 	border: 1px solid #353535;
}

input[type=submit]:hover {
	color         : #000000;
	background    : #ffffff;
}

/* ヘッダー */
.header {

    display: block;
   	width: 100%;
    margin: 0;
    position: relative;
    height: 75px;
    font-size: 15px;
    color: #353535;
    vertical-align: middle;
}

.logo {
	max-height: 75px;
	margin-left: 0px;
	display: inline-block;
}

.menu {
	display: inline-block;
	color: #353535;
	max-width: 40%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	margin-left: 1%;
	font-size: 17px;
}

a {
	text-decoration: none;
	color: #353535;
	font-weight: bolder;
	margin: 5px;
}

a:hover {
	font-weight: lighter;
}

.filter {
	display: inline-block;
	position: absolute;
	float: right;
	max-width: 50%;
	top: 50%;
	transform: translateY(-50%);
	color: #353535;
	right: 0;
	text-align: right;
	font-size: 14px;
}

#category {
	height: 15px;
	width: 50%;
	text-transform: uppercase;
}

#start-date, #end-date {
	height: 15px;
	width: 28%;
	text-transform: uppercase;
}

input[type=date] {
	font-size: 10px;
	color: #353535;
}

/* エラーメッセージ */
.errorMessages {
	display: block;
	color: red;
	position: relative;
	text-decoration: none;
	text-align: center;
}

/* ボディー */
.contents {
	display: block;
}

.message {
	background-color: #4f4f4f;
 	color: #fff3e1;
 	border-radius: 3px;
 	padding: 5px 10px;
}

.text {
	border-top: 1px solid #fff3e1;
	border-bottom: 1px solid #fff3e1;
 	height: 140px;
}

.commenttext {
	border: 1px solid #353535;
 	border-radius: 3px;
 	word-break: break-word;
}

.comment {
	font-size: 14px;
	word-break: break-word;
}

.card {
	display: inline-block;
	border: 1px solid #353535;
	width: 300px;
	height: 170px;
	margin: 5px;
}

#messagetitle, #messagecategory, #messagetext, #setting-id, #setting-account, #setting-password, #check-password, #setting-name {
	width: 400px;
	margin-right: 500px;
}

#branch, #department {
	display: inline-block;
	position: relative;
}

#stop-button, #setting-button {
	display: inline-block;
	position: relative;
}

/* フッター */
.copyright {
	display: block;
}